<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.JetpackMovies" >
        <activity android:name="com.tarantik.jetpackmovies.authentication.nav.AuthenticationActivity"/>
    </application>

</manifest>
